body {
    margin: 0;
    padding: 0;
    text-align: center; /* !!! */
}

.console {
    margin:0 auto;
    text-align:left;
    width:800px;
    height:400px;
    background-color:black;
    color:white;
    overflow: auto;
    font-size:1.2em;
    font-family:monospace;
}

.cem {
    color:yellow;
}

.cerr {
    color:red;
}